<!DOCTYPE HTML>

<html>
	<head>
		<title>Geophysics.ai</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>Geophysics.ai</h1>
				<h3 style="color: #808080" >Artificial Intelligence advances in Geophysics.</h3>
				<p>Sign up to stay informed on upcoming projects.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" value="Sign Up" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.github.com/chefferk" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; <a href="http://www.keatoncheffer.com" target="_blank">Keaton Cheffer</a> 2018</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/main.js"></script>

	</body>
</html>